.navbar-brand {
    font-weight: bolder !important;
}

.menu-items {
    margin-left: 20px;
}

/* #logo {
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
} */

.jumbotron {
    width: 100%;
    height: 80vh;
    background-image: url("img/header-overlay.jpg");
    background-position: center center;
    background-size: cover;
}

.jumbotron-heading {
    padding-top: 40vh;
    font-weight: bold;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        font-size: 2rem;
        opacity: 0;
    }
    100% {
        font-size: 5rem;
        opacity: 1;
     }
}

.logo-main {
    max-width: 25em;
}


.social {
    max-width: 100px;
}

.block-row {
    color: white;
    background-image: url("img/dining-room-overlay.jpg");
    background-size: cover;
    background-position: center center;   
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.line-height-taller {
    line-height: 2.5;
}



